body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
}

h3 {
    color: #333;
}

#pedido-resumo {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background-color: #f4f4f4;
}

label {
    display: block;
    margin: 5px 0;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}

button[type="reset"] {
    background-color: #dc3545;
}

button[type="reset"]:hover {
    background-color: #c82333;
}

button[type="submit"] {
    background-color: #28a745;
}

button[type="submit"]:hover {
    background-color: #218838;
}
